/* general rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fredoka One', cursive;
}

#title {
    max-width: 800px;
    text-align: center;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
    background-color: black;
    margin: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

img {
    width: 100px;
    float: left;
    margin: 0 auto;
}

span {
    display: block;
    padding-top: 10px;
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

/* /general rules */

/* specific rules */

div#title {

    background: #ffffff;
    margin: 0 auto;
    max-width: calc(100% / 2);
    text-align: center;
    padding: 100px;
}

h1 {
    color: hsl(339deg 78% 55%);
}

p {
    text-align: center;
    font-family: 'Comic Neue', cursive;

}

.clearfix>.left {
    width: calc(100% / 3 - 20px);
}

.clearfix {
    padding: 30px;
}

.container .clearfix {
    margin: 0px -10px;
}